<div *ngIf="Watch" class="watchlist">
  <img
    [src]="Watch.imgSrc"
    alt="Watch Photo"
    height="200"
    width="200"/>
<div class="watch">
  <p>ID: {{ Watch.id }}</p>
  <h1>Company: {{ Watch.company |uppercase}}</h1>
  <p>Region: {{ Watch.region }}</p>
  <p> Color: {{ Watch.color | titlecase }}</p>
  <p>Type: {{ Watch.type }}</p>
  <p>price: {{ Watch.price |currency }}</p>
  <p>{{Watch | regionTypeCombination}}</p>

  <p>Availability: {{ Watch.available ? 'In Stock' : 'Out of Stock' }}</p>
</div>
</div>


