<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
<form [formGroup]="watchForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="id">ID</label>
    <input id="id" formControlName="id" type="number" [readonly]="currentWatchId !== null" appHighlightOnFocus [focusColor]="'red'">
    <div *ngIf="watchForm.controls['id'].invalid && watchForm.controls['id']">
      ID is required and must be a number.
    </div>
  </div>

  <div>
    <label for="company">Company</label>
    <input id="company" formControlName="company" type="text" appHighlightOnFocus [focusColor]="'red'">
    <div *ngIf="watchForm.controls['company'].invalid && watchForm.controls['company']">
      Company is required.
    </div>
  </div>

  <div>
    <label for="region">Region</label>
    <input id="region" formControlName="region" type="text">
  </div>

  <div>
    <label for="color">Color</label>
    <input id="color" formControlName="color" type="text">
  </div>

  <div>
    <label for="type">Type</label>
    <input id="type" formControlName="type" type="text" appHighlightOnFocus [focusColor]="'red'">
  </div>

  <div>
    <label for="available">Availability</label>
    <input id="available" formControlName="available" type="checkbox" appHighlightOnFocus [focusColor]="'red'">
  </div>

  <div>
    <label for="imgSrc">Image Source URL</label>
    <input id="imgSrc" formControlName="imgSrc" type="text" appHighlightOnFocus [focusColor]="'red'">
  </div>

  <button type="submit" [disabled]="watchForm.invalid || currentWatchId === null">
    {{ currentWatchId ? 'Update' : 'Add' }} Watch
  </button>
  <button type="button" (click)="resetForm()">Reset</button>
</form>
